VITE_API_BASE_URL=http://localhost:5000/api/
VITE_SOCKET_SERVER_URL=http://localhost:3003/
VITE_QUEUE_SERVER_URL=http://localhost:3002/
VITE_OPENCV_SCRIPT_URL=https://docs.opencv.org/4.8.0/opencv.js
VITE_FONT_STYLESHEET_URL=https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap
